#textAreaTarget {
  width: 13rem;
}

#mouseTarget {
  margin-top: 0.5rem;
  text-align: center;
  width: 13rem;
  border: 2px solid #000;
}

#scrollTarget {
  margin-top: 0.5rem;
  text-align: center;
  width: 13rem;
  height: 3rem;
  border: 2px dashed green;
  overflow: auto;
}
